body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

* {
	margin: 0;
	padding: 0;
  }
  
  .App {
	text-align: center;
	min-height: 100%;
	background-size: cover;
	background-position: center;
  
  }


  .exercise-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: auto;
	margin: auto;
  }

  .exercise-list .exercise-item {
	  margin: 5px;
	  width: 250px;
	  height: 450px;
  }

  .exercise-list .exercise-item .add-to-favorites {
	  
  }